# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

# Build outputs & temporary distribution artifacts
dist/
dist_test_*
*.dmg
*.tmp
*.o

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
